* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
	font: 20px Helvetica, Arial; 
	height: 100%;
	background-color: #edce70;
}

form { background: #000; padding: 3px; width: 100%; }

form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }

form button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }

h2 { 
	width: 100%;
	margin: 0px;
}

#ready {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

#readybutton {
	background-color: #492300;
	font-family: EdmundsFont;
	font-size: 2vw;
	height: 4vw;
	width: 40%;
	color: white;
}

#board {
	/*margin: auto;*/
	/*width: 820px;*/
	padding: 10px;
}

#team_name {
	width: 100%;
	height: 4vw;
	text-align: center;
	margin-top: 5vh;
	background-color: rgba(155, 97, 43, 1);
	padding-top: 0.5vh;
	font-size:3.5vw; 
	font-family:EdmundsFont;
}

#resourceblock {
	width: 100%;
	height: 28vw;
	background-color: rgba(155, 97, 43, 1);
	text-align: left;
	color: black;
	font-size: 1.25vw;
	margin-top: 2vh;
}

#resourcetitle {
	text-align: center;
	color: black;
	font-size: 3vw;
	padding-top: 5px;
	padding-bottom: 3px;
	font-family: EdmundsFont;
}

.leftColButton {
	background-color: #492300;
	border: none;
	width: 100%; 
	margin-top: 10px;
	font-family:EdmundsFont; 
	font-size: 1.5vw;
}


@font-face {
	font-family: EdmundsFont;
	src: url(assets/edmunds.ttf);
}


/*TRADING WINDOW*/
.close {
    color: #fff; 
    opacity: 1;
}

#modalButton {
	background-color: rgba(155, 97, 43, 1);
	border: none
	width: 20%;
	font-size: 25px;
}

#tradeTitle {
	text-align: center;
	color: black;
	font-size: 3vw;
	padding-top: 5px;
	font-family: EdmundsFont;
}

#tradeContainer {
	padding-top: 5px;
	text-align: center;
	position: relative;
	
  	width:100%;
    background-color: #edce70;
}

#teamTradeModal, #provTradeModal {
	max-height: 95%;
}

.modal-yellow .modal-backdrop {
	background-color: #edce70;
  }

.modal-body, .modal-footer {
	background-color: #edce70;
	overflow-x: auto;
	border-top: 0px;
}

.modal-content  {
    border:rgba(155, 97, 43, 1) 4px solid;
}

.modal-header{
	background-color: rgba(155, 97, 43, 1);
}
.modal-open {
    padding-right: 0px !important;
}

.modal-lg {
	width: 80%;
	margin: auto;
	padding-top: 1.25%;
}


/*VIDEO MODAL*/
.modal-md {
	width: 40%;
	padding-top: 4%;
}

#videoTable {
	background-color: #edce70;
}
  
.col-md-6 {
	align-content: center;
	color: black;
	border: 0px;
	text-align: center;
}

.col-md-6 h2 {
	font-family:EdmundsFont;
}

.videoImage {
	height: 185%;
	width: 100%;
	margin-bottom: 20px;
}


#right {
	/*height: 100%;*/
	/*position: relative;*/
}

.weather {
	margin-top: 2vh;
}

.weatherimg {
	padding-left:5px; 
	vertical-align: middle;
}

.weathertext {
	display: inline-block; 
	font-size:2vw; 
	padding-left: 0.6vw; 
	font-family:EdmundsFont;
	color: white;
}

.weatherlabel {
	font-size:1.5vw; 
	font-family:EdmundsFont; 
	color: white;
}


#forecastButton:hover .resourcetext {
	visibility: visible;
}

#forecastContainer {
	padding-top: 5px;
	text-align: center;
	position: relative;
	
  	width:100%;
    background-color: #edce70;
}

.forecast_img {
	vertical-align: middle;
	width: 2.5vw;
	height: 2.5vw;
}

.forecast_text {
	display: inline-block; 
	font-size: 1.5vw;
	padding-left: 5px;
	font-family:EdmundsFont;
	color: white;
}

#forecast_cols {
     margin-left: 0%; 
}


#instructionbutton {
	font-size:2.5vw; 
	color: white; 
	text-align: left;
}

#messageblock {
	padding-top: 1.2vh;
	padding-left: 0vh;
	padding-bottom: 1.2vh;
	width: 21vw;
	margin-left: 1.5%;
	margin-top: 5vh;
	background-color: rgba(155, 97, 43, 1);

	position: fixed;
  	bottom: 0;
}

#messagetitle {
	color: white;
	margin: 1vh;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding-top: 5px;
	padding-left: 0;
	padding-right: 0; 
	padding-bottom: 5px;
	background-color: white;
	min-height: 10vh;
	max-height: 40vh;
	overflow: auto;
}

#messages li { 
	padding: 5px 10px; 
}

/*#messages li:nth-child(odd) { 
	background: #eee; 
}*/



.resourcetag {
	/*font-size: 1.2vw;
	height: 2.5vw */
}

.resourcetext {
	visibility: hidden;
	width: 200px;
  	background-color: #492300;
  	color: #fff;
  	border-radius: 6px;
  	padding: 5px 0;

  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
}

.resourcetag:hover .resourcetext {
	visibility: visible;
}

.rightcol {
	width: 80%;
	margin-left: 20%;
	margin-top: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1.5vh;
	background-color: #492300;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

th {
  font-size: 1.5vw;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

td {
  font-size: 1vw;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

table:nth-child(even) {
	background-color: #492300;
}

#copyright {
	margin-top: 1vw;
	margin-left: 5px;
	font-size: 0.75vw;
	color: white;
	text-align: center;
}
 

.bootbox .modal-content {
	width: 35vw;
}

.bootbox-body {
	color: white;
	width: 80%;
}

.bootbox div div div {
	background-color: rgba(155, 97, 43, 1);
}

.alertButton, .btn-danger, .btn-success {
    background-color: #492300;
	border: none;
	width: 25%; 
	margin-top: 10px;
	color: white;
	/*font-family:EdmundsFont; */
	font-size: 1.5vw;
}

.card{
	height: 270px;
	margin-top: auto;
	margin-bottom: auto;
	width: 40%;
	left: 30%;
	top: 35%;
	position: fixed;
	background-color: rgba(73,35,0,0.75); /*change*/
}

.card-header h3{
	color: white;
	font-weight: bold;
}

.input-group-prepend span{
	width: 50px;
	background-color: #edce70;
	color: black;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.transbkgd{
	background-color: rgba(73,35,0,0.75);
}

.login_btn{
	color: black;
	background-color: #edce70;
	width: 100px;
}

.login_btn:hover{
	color: black;
	background-color: white;
	font-weight: bold;
}

.loginbody{
	background-image: url('http://getwallpapers.com/wallpaper/full/6/5/e/241791.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	align-content:center;
	align-items:center;
	/*font-family: 'Numans', sans-serif;*/
}

.logincontainer{
	height:100%;
	align-content:center;
	align-items:center;
}

.logintitle{
	text-align: center;
	align-content: center;
	color: #492300;
	font-family: EdmundsFont;
	font-size: 5vw;
	width:100%;
	top:17%;
	position:fixed;
}

.remember{
	color: red;
	width: 50vw;
	height: 20px;
	font-size: 1.5vw;
	margin-left: 15px;
	margin-right: 5px;
}

.links{
	color: white;
}

.links a{
	margin-left: 4px;
	color: gold;
}

